@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow{
    box-shadow: 3px 3px 3px rgb(140, 140, 140);
}

.box-shadow-small{
    box-shadow: 3px 3px 2px rgb(45, 45, 45);
}

.box-shadow-small2{
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.box-shadow-small3{
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}


.text-shadow{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}


.embla {
    overflow: hidden;
  }
.embla__container {
    display: flex;
    
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}
